<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<div class="container">
    <h2>Checkout</h2>
    <form action="/submitCheckOut" method="post">
        <div>
            <label for="member">Member</label>
            <input type="text" id="member" name="memberId" value="1001"/>
        </div>
        <div>
            <label for="product">Product</label>
            <input type="text" id="product" name="productId" value="999999"/>
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount" value="33000"/>
        </div>
        <div>
            <label for="amount">Address</label>
            <textarea id="address" name="address" value="33000"></textarea>
        </div>
        <button type="submit">결제하기</button>
    </form>
</div>

</body>
</html>